<!-- Header -->
<header class="container mx-auto mt-10 px-6 text-center h-40 md:h-20">
  <!-- Dynamic Logo -->
  <div class="flex space-x-4 justify-center items-center md:justify-start">
    <!-- TEST - Dito palitan image -->
    <img
      src="assets/images/marvin_profile.jpg"
      alt=""
      class="w-12 h-12 rounded-full border-solid 
        border-2 border-accentBlue dark:border-accentCyan"
    />
    <div>
      <h5 class="text-md font-semibold text-left">Marvin D. Verdera</h5>
      <p class="text-xs font-extralight text-left">Application Developer</p>
    </div>
  </div>
  
  <!-- Menu Items -->
  <div 
    class="flex items-center justify-center space-x-4 mt-6 md:mt-0 md:space-x-10 
      md:absolute top-12 right-20">
      <!-- <a href="#projects" class="hover:text-accentCyan">Projects</a> -->
      <!-- <a href="#trainings" class="hover:text-accentCyan">Trainings</a> -->
      <!-- <a href="#testimonials" class="hover:text-accentCyan">Testimonials</a> -->

      <!-- Dark/ Light Mode Button -->
      <button id="theme-toggle" 
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 
          dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 
          dark:focus:ring-gray-700 rounded-lg text-sm p-2 5">
          <fa-icon id="theme-toggle-dark-icon" [icon]="faMoon" class="hidden w-5 h-5 hover:text-accentCyan"></fa-icon>
          <fa-icon id="theme-toggle-light-icon" [icon]="faSun" class="hidden w-5 h-5 hover:text-accentCyan"></fa-icon>
      </button>
  </div>  
</header>

<!-- Hero Section -->
<section
id="hero"
class="bg-curvy-light-mode dark:bg-curvy-dark-mode bg-no-repeat bg-contain bg-bottom"
>
  <!-- Hero Container -->
  <div 
    class="container flex flex-col-reverse items-center px-6 
      mx-auto mt-4 space-y-0 md:space-y-0 md:flex-row">

    <!-- Left Item -->
    <div class="flex flex-col mb-32 space-y-6 md:w-1/2">
      <h1
      class="max-w-2xl mx-auto mb-4 text-3xl font-bold leading-normal mt-14 md:mb-8 md:text-4xl"
      >
      Hello! I'm Marvin Verdera, a dedicated application developer.
      </h1>
    <p class="max-w-sm mx-auto mb-0 text-sm md:max-w-xl md:ml-0 md:text-lg">
      In my journey as an application developer, I've been fortunate to collaborate with experienced designers and developers who have raised my standards for building applications. Their influence has shaped my working style, emphasizing flexibility, clarity, and collaboration.
    </p>

    <p class="max-w-sm mx-auto mb-0 text-sm md:max-w-xl md:ml-0 md:text-lg">
      Driven by a passion for growth and innovation, I've taken a number of online courses such as those focusing on cloud technologies, front-end/ back-end development and database management, all aimed at enhancing my proficiency in the application developer role.
    </p>

    <p class="max-w-sm mx-auto mb-0 text-sm md:max-w-xl md:ml-0 md:text-lg">
      Through experience and continuous learning, I can help to develop applications that will contribute to the improvement of the company's operation.
    </p>
    <!-- <button 
      class="p-3 rounded-full w-52 mx-auto
        bg-accentCyan md:ml-0 hover:scale-95">
      <div class="flex justify-center space-x-2">
        <a href="#projects">Scroll Down</a>
        <div class="animate-bounce"><fa-icon [icon]="faArrowDown"></fa-icon></div>
      </div>
    </button> -->
    </div>

    <!-- Right Item -->
    <div class="md:w-1/2">
      <img src="assets/images/illustration-intro.png" alt=""/>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="bg-gray-50 dark:bg-darkBlue1">
  <!-- Projects Container -->
  <div class="container mx-auto px-6">
  </div>
</section>

<!-- Footer -->
<footer class="bg-darkBlue2 text-white">
<div class="container mx-auto pt-12 px-5 pb-10">
  <p class="text-xs md:text-sm">Built with Angular, Tailwind CSS and AWS.</p>
</div>
</footer>

<router-outlet />